body {
  padding: 0 1rem;
  background-color: rgb(58, 5, 14);
  min-height: 100vh;
}
.delete {
  position: relative;
  top: -1.5rem;
  left: -1.5rem;
  padding: 1.5em;
  z-index: 5;
}

.container {
  max-width: 960px;
}

.pad-1 {
  padding: 2rem 1rem;
}

.title-white {
  color: #fff;
}

.commentbtn {
  margin-top: 1rem;
}
